{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <h1>Welcome</h1>
    <div class="">
      <h2>Login</h2>
      <br>
      <form class="" action="{% url 'mysite_login' %}" method="post">
        {% csrf_token %}
        <label for="login_username">Username</label>
        <input type="text" name="username" value="" required>
        <br>
        <label for="login_password">Password</label>
        <input type="password" name="password" value="" required>
        <br>
        <input type="submit" name="" value="Login">
      </form>
    </div>
    <div class="">
      <h2>Create Account</h2>
      <form class="" action="{% url 'mysite_create' %}" method="post">
        {% csrf_token %}
        <label for="username">Enter a username</label>
        <input type="text" name="username" required>
        <br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <br>

        <input type="submit" name="" value="Create Account">
      </form>
    </div>
  </body>
</html>
{% endblock %}
